.visualizacao-tabela-gerencia-data {
    display: block !important;
}

.visualizacao-tabela-gerencia-historico {
    display: none !important;
}

.tabela-linha-demanda:hover .visualizacao-tabela-gerencia-data {
    display: none !important;
}

.tabela-linha-demanda:hover .visualizacao-tabela-gerencia-historico {
    display: block !important;
}