::-webkit-scrollbar-track {
    background-color: #b1b1b1;
}
::-webkit-scrollbar {
    width: 10px;
    background: #aaaaaa;
}
::-webkit-scrollbar-thumb {
    transition: all .5s ease;
    background: #00579D;
}

::-webkit-scrollbar-thumb:hover {
    transition: all .5s ease;
    background: #0060af;
}

::-webkit-scrollbar-thumb:active {
    background: #004e8d;
}