#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parte-esquerda {
    display: flex;
    gap: 0.8rem;
}

.tamanhoImagem {
    height: 4rem;
}

.grid {
}

.logo {

}

.parte-direita {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bandeira {
    height: 1.5rem;
    width: 2rem;
}

.user {
    height: 2.5rem;
}